[Library]
[Temp]
[Obj]
[Build]
[Builds]
[Logs]
[MemoryCaptures]
[UserSettings]
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svclog
*.pdb
*.mdb
*.opendb
*.db
*.VC.db
AssetStoreTools*
Assets/Plugins/Editor/JetBrains*
.vs
.gradle
ExportedObj/
.pdm-python
.python-version
.idea/
.DS_Store
.out/
.appdata/
sysinfo.txt
*.swp
*.bak
*.orig
*.log
/[Aa]ssets/[Aa]ssetStoreTools*
/[Aa]ssets/Plugins/Editor/JetBrains*
/[Uu]nityGenerated/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Mm]emoryCaptures/
/[Uu]serSettings/
/[Vv]isualStudio/
/[Vv]isualStudio.dot*
/[Vv]isualStudioCode/
/[Vv]isualStudioCode.dot*
/[Ee]xportedObj/
.vs/
.idea/
.vscode/
.gradle/
.pdm-python
.python-version
.DS_Store
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svclog
*.pdb
*.mdb
*.opendb
*.db
*.VC.db
sysinfo.txt
*.swp
*.bak
*.orig
*.log

# Large files - GitHub limit se bachne ke liye
*.rar
*.tif
*.tiff
*.psd
*.zip
*.7z
*.unitypackage
