# Unity Generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Pp]rojectSettings/

# IDE
.vs/
.vscode/
*.csproj
*.sln
*.slnx
*.suo
*.user
*.userprefs
*.pidb

# Unity Meta
*.apk
*.aab
*.unitypackage
*.app

# OS
.DS_Store
Thumbs.db

# Crashlytics
crashlytics-build.properties
