# Unity Generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

# Asset Exclusions (Heavy files)
*.fbx
*.obj
*.max
*.blend
*.png
*.jpg
*.jpeg
*.tga
*.psd
*.wav
*.mp3
*.ogg
*.aif
*.mov
*.mp4

# Specific Large Asset Folders
# Assets/ScifiOfficeLite/

# IDE
.vs/
.vscode/
*.csproj
*.sln
*.slnx
*.suo
*.user
*.userprefs
*.pidb

# Unity Meta
*.apk
*.aab
*.unitypackage
*.app

# OS
.DS_Store
Thumbs.db

# Crashlytics
crashlytics-build.properties

